<% layout('/layouts/boilerplate') -%>

  <body>
    <div class="hero">
      <div class="hero-content">
        <h1>Feeding Hope: Eliminating Hunger Worldwide</h1>
        <p>"Hunger is not a problem. It is an obscenity." - Anonymous</p>
      </div>
    </div>
    <div class="content">
      <div class="section">
        <h2>What is Hunger?</h2>
        <p>Hunger is a condition in which a person, for a sustained period, is unable to eat sufficient food to meet
          basic nutritional needs.</p>
      </div>
      <div class="section">
        <h2>Why is it Necessary to Eliminate Hunger?</h2>
        <p>Eliminating hunger is crucial for improving public health, reducing poverty, and promoting global stability
          and peace.</p>
      </div>
      <div class="section">
        <h2>Hunger Statistics</h2>
        <!-- <p>As of 2024, over 820 million people around the world are hungry. Immediate action is needed to address this crisis.</p> -->
        <img src="https://pwonlyias.com/wp-content/uploads/2024/04/untitled-2024-04-27t113152682-1-662c9a9e45cd7.webp"
          alt="Hunger Graph" style="width:100%; border-radius:8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      </div>
      <div class="section">
        <h2>How to Reduce Hunger?</h2>
        <p>Reducing hunger involves a combination of efforts including improving food security, increasing agricultural
          productivity, and addressing social inequalities.</p>
      </div>
      <div class="section box">
        <h2>Our Mission</h2>
        <a href="/listings/show1">
          <div class="cards">
            <div class="card">
              <h3>Mission 1</h3>
              <p>Providing nutritious meals to those in need.</p>
            </div>
        </a>

        <a href="/listings/show2">
          <div class="card">
            <h3>Mission 2</h3>
            <p>Supporting sustainable agriculture.</p>
          </div>
        </a>

        <a href="/listings/show3">
          <div class="card">
            <h3>Mission 3</h3>
            <p>Advocating for policies that address hunger.</p>
          </div>
        </a>

      </div>
    </div>
    </div>
  </body>