<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="display-4">Mission 1</h1>
                    <p class="lead">Providing nutritious meals to those in need</p>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-8">
                    <img src="https://i1.wp.com/wishesandblessings.net/blog/wp-content/uploads/2022/07/WhatsApp-Image-2022-07-02-at-10.58.36-AM-1.jpeg"
                        class="img-fluid" alt="Food Donation Image">
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    </body>

    </html>