<% layout('/layouts/boilerplate') -%>

    <body>

        <div class="container">
            <h1 class="mission-heading">Mission 2</h1>
            <img src="https://www.fao.org/fileadmin/user_upload/gaps/img/resources/1_biodiversity.jpg"
                alt="Supporting Sustainable Agriculture" class="mission-image img-fluid">
            <p class="mission-text">
                Our food donation program is dedicated to supporting sustainable agriculture. By sourcing food from
                local
                farms and promoting eco-friendly practices, we aim to reduce food waste and nourish our community. Join
                us
                in making a positive impact on the environment and supporting local farmers.
            </p>
        </div>

        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    </body>